<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Azureexample</title>
</head>


<body>

<tbody id="tbodydata"></tbody>

<img src="https://testexample.blob.core.windows.net/testexampleblobs2e6b5347-37eb-4ce4-9f9a-46e1c445426d/screenshot-1.png">
<img src="https://testexample.blob.core.windows.net/testexampleblobs2e6b5347-37eb-4ce4-9f9a-46e1c445426d/screenshot-2.png">
<img src="https://testexample.blob.core.windows.net/testexampleblobs2e6b5347-37eb-4ce4-9f9a-46e1c445426d/screenshot-3.png">


</body>
</html>

<script type="text/javascript">

    $(function () {
        refurbishIndex();
    })

    function refurbishIndex(){
        $.ajax({
            type:"post",
            url:"/picture",
            data:{},
            async: false,
            success:function (data) {
                var str="";
                document.getElementById("tbodydata").innerHTML=str;

            }
        });
    }
</script>